{% extends "core/base_generic.html" %}

{% block content %}
<!doctype html>
<html lang="en"></html>
  <body>
    <br>
    <h1 class="section-title text-center" style="color: #66CDAA; font-weight: bold; margin-bottom: 20px;">Temas de discusión</h1>
    <div class="container mt-4 mb-5">
        <div class="row">
            {% for tema in temas %}
            <div class="col-md-4 mb-4">
                <div class="card border rounded" style="background-color: rgba(255, 255, 255, 0.9); border: 3px solid #66CDAA; box-shadow: 0 5px 15px rgba(0, 128, 128, 0.2);">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="color: #66CDAA; font-weight: bold;">
                            <a href="{% url 'tema_detail' tema.id %}" class="text-decoration-none" style="color: #66CDAA;">{{ tema.titulo }}</a>
                        </h5>
                        <p class="card-text text-center">{{ tema.content }}</p>
                        <small class="text-muted text-center d-block">por {{ tema.author }} - {{ tema.fecha_creacion }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center mt-4 mb-5">
        <a class="btn btn-primary" href="{% url 'crear_tema' %}" role="button" style="background-color: #66CDAA; border-color: #66CDAA; font-weight: bold; padding: 10px 20px; font-size: 1.1em; border-radius: 8px; transition: background-color 0.3s;">
            Crear discusión
        </a>
    </div>
    

    <br>
  </body>
</html>  
{% endblock %}